[submodule "gen-py"]
	path = gen-py
	url = git@github.com:tekacs/scrobble-exchange
[submodule "_datm"]
	path = _datm
	url = git@github.com:tekacs/scrobble-exchange
[submodule "analytics"]
	path = analytics
	url = git@github.com:tekacs/scrobble-exchange
