{% extends "base.html" %}

{% load static %}
{% load extras %}

{% block title %}Artists{% endblock title %}

{% block above_main %}
    <h1 class="main-header">Artists</h1>
{% endblock above_main %}

{% block main %}
    <div class="row collapse search-elements">
        <form class="search-form" action="/search" method="GET">
            <div class="eighteen mobile-three columns">
                <input name="q" type="text" class="typeahead-search" placeholder="Search for an artist">
                <input class="lucky-hidden" type="hidden" name="lucky" value="true">
            </div>
            <div class="four mobile-one columns end">
                <input type="submit" class="button expand postfix" value="Search"></input>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="eleven columns rank-list">
            <h3 class="artist-subheader">Most Expensive Artists</h3>
            <p class="lead">Highest market price</p>
            <ol class="top-list primary valuable">
                {% for valuable_artist_SE in top_SE_artists %}

                    <li class="rankItem">
                        <div class="rankItem-wrap">
                            <div class="rankItem-wrap2">
                                <a href="{% url frontend.views.artist_single valuable_artist_SE.artist.name|urlencode %}" class="rankItem-blockLink">
                                    <h4>
                                        <span class="rankItem-position">{{forloop.counter}}<span class="rm">.</span></span>
                                        <span class="rankItem-title">{{valuable_artist_SE.artist.name}}</span>
                                    </h4>
                                    {% if forloop.counter == 1 %}
                                        <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{valuable_artist_SE.artist.imgurls|get_image:'mega'}}');">
                                            <div class="rankItem-imageCrop-wrap">
                                                <img src="{{valuable_artist_SE.artist.imgurls|get_image:'mega'}}">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{valuable_artist_SE.artist.imgurls|get_image:'large'}}');">
                                            <div class="rankItem-imageCrop-wrap">
                                                <img src="{{valuable_artist_SE.artist.imgurls|get_image:'large'}}">
                                            </div>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                            <p class="rankItem-bar">
                                <span class="rankItem-bar-percentage" style="width: 100%">
                                    <span>
                                        <strong>${{ valuable_artist_SE.price }}</strong>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </li>

                {% endfor %}

            </ol>
        </div>

        <div class="eleven columns end rank-list">
            <h3 class="artist-subheader">Most Traded Artists</h3>
            <p class="lead">Often bought and sold</p>
            <ol class="top-list traded">

                {% for traded_artist_SE in top_traded_artists %}

                    <li class="rankItem">
                        <div class="rankItem-wrap">
                            <div class="rankItem-wrap2">
                                <a href="{% url frontend.views.artist_single traded_artist_SE.artist.name|urlencode %}" class="rankItem-blockLink">
                                    <h4>
                                        <span class="rankItem-position">{{forloop.counter}}<span class="rm">.</span></span>
                                        <span class="rankItem-title">{{traded_artist_SE.artist.name}}</span>
                                    </h4>
                                    {% if forloop.counter == 1 %}
                                        <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{traded_artist_SE.artist.imgurls|get_image:'mega'}}');">
                                            <div class="rankItem-imageCrop-wrap">
                                                <img src="{{traded_artist_SE.artist.imgurls|get_image:'mega'}}">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{traded_artist_SE.artist.imgurls|get_image:'large'}}');">
                                            <div class="rankItem-imageCrop-wrap">
                                                <img src="{{traded_artist_SE.artist.imgurls|get_image:'large'}}">
                                            </div>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                            <p class="rankItem-bar">
                                <span class="rankItem-bar-percentage" style="width: 100%">
                                    <span>
                                        <strong>${{ traded_artist_SE.price }}</strong>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </li>

                {% endfor %}

            </ol>
        </div>
    </div>

    <div class="row">

        <div class="eleven columns end rank-list">
            <h3 class="artist-subheader">Most popular artists</h3>
            <p class="lead">Based on Last.fm data</p>

            <ol class="top-list popular primary">

                {% for popular_artist_SE in popular_LFM_artists %}

                    <li class="rankItem">
                        <div class="rankItem-wrap">
                            <div class="rankItem-wrap2">
                                <a href="{% url frontend.views.artist_single popular_artist_SE.artist.name|urlencode %}" class="rankItem-blockLink">
                                    <h4>
                                        <span class="rankItem-position">{{forloop.counter}}<span class="rm">.</span></span>
                                        <span class="rankItem-title">{{popular_artist_SE.artist.name}}</span>
                                    </h4>
                                    {% if forloop.counter == 1 %}
                                        <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{popular_artist_SE.artist.imgurls|get_image:'mega'}}');">
                                            <div class="rankItem-imageCrop-wrap">
                                                <img src="{{popular_artist_SE.artist.imgurls|get_image:'mega'}}">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{popular_artist_SE.artist.imgurls|get_image:'large'}}');">
                                            <div class="rankItem-imageCrop-wrap">
                                                <img src="{{popular_artist_SE.artist.imgurls|get_image:'large'}}">
                                            </div>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                            <p class="rankItem-bar">
                                <span class="rankItem-bar-percentage" style="width: 100%">
                                    <span>
                                        <strong>${{ popular_artist_SE.price }}</strong>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </li>

                {% endfor %}

            </ol>

        </div>
    </div>

{% endblock main %}

{% block sidebar %}
    <h2 class="sidebar-red">Recommended artists</h2>
    <p>Based on your Last.fm profile data</p>

    <div class="rank-list">

        <ol class="top-list rising primary sidebar-list">

            {% for recommended_artist_SE in recommended_artists %}

                <li class="rankItem sidebar-item">
                    <div class="rankItem-wrap">
                        <div class="rankItem-wrap2">
                            <a href="{% url frontend.views.artist_single recommended_artist_SE.artist.name|urlencode %}" class="rankItem-blockLink">
                                <h4>
                                    <span class="rankItem-position">{{forloop.counter}}<span class="rm">.</span></span>
                                    <span class="rankItem-title">{{recommended_artist_SE.artist.name|truncatechars:30}}</span>
                                </h4>
                                <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{recommended_artist_SE.artist.imgurls|get_image:'mega'}}');">
                                    <div class="rankItem-imageCrop-wrap">
                                        <img src="{{recommended_artist_SE.artist.imgurls|get_image:'mega'}}">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <p class="rankItem-bar">
                            <span class="rankItem-bar-percentage" style="width: 100%">
                                <span>
                                    <strong>${{ recommended_artist_SE.price }}</strong>
                                </span>
                            </span>
                        </p>
                    </div>
                </li>

            {% endfor %}

        </ol>

    </div>


    <h2 class="sidebar-red">Recently traded artists</h2>
    <p>Last artists to be active</p>

    <div class="rank-list">

        <ol class="top-list recently-traded primary sidebar-list">

            {% for traded_artist_SE in recently_traded_artists %}

                <li class="rankItem sidebar-item">
                    <div class="rankItem-wrap">
                        <div class="rankItem-wrap2">
                            <a href="{% url frontend.views.artist_single traded_artist_SE.artist.name|urlencode %}" class="rankItem-blockLink">
                                <h4>
                                    <span class="rankItem-position">{{forloop.counter}}<span class="rm">.</span></span>
                                    <span class="rankItem-title">{{traded_artist_SE.artist.name|truncatechars:30}}</span>
                                </h4>
                                <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{traded_artist_SE.artist.imgurls|get_image:'mega'}}');">
                                    <div class="rankItem-imageCrop-wrap">
                                        <img src="{{traded_artist_SE.artist.imgurls|get_image:'mega'}}">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <p class="rankItem-bar">
                            <span class="rankItem-bar-percentage" style="width: 100%">
                                <span>
                                    <strong>${{ traded_artist_SE.price }}</strong>
                                </span>
                            </span>
                        </p>
                    </div>
                </li>

            {% endfor %}

        </ol>

    </div>

{% endblock sidebar %}


