{% extends "base.html" %}

{% load static %}
{% load extras %}

{% block title %}{{artist.name}}{% endblock title %}

{% block above_main %}
    <h1 class="main-header">{{artist.name}}</h1>
{% endblock above_main %}

{% block main %}

    <div class="above-graph">
        <dl class="sub-nav">
          <dt>Graph view:</dt>
          <dd class="active" ><a class="chart-switch" data-chart="money" href="#">Prices</a></dd>
          <dd><a class="chart-switch" data-chart="points" href="#">Points</a></dd>
        </dl>
        <div id="legend"></div>
    </div>

	<div id="chart_container">
		<div id="chart"></div>
	</div>

    <p class="artist-bio">
        {{artist.bio.summary|safe}}
        <!-- TODO: read more link for full bio -->
    <p>

    <h3 class="artist-subheader">Similar Artists</h3>
    {% for similar_artist in artist.similar %}
        <a href="{% url frontend.views.artist_single similar_artist.name|urlencode %}">
            <div class="artist-img" style="background-image: url('{{ similar_artist.imgurls|get_image:'mega' }}');">
                <div class="text-over-image bottom">
                    <span class="primary">{{ similar_artist.name|truncatechars:15 }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock main %}

{% block sidebar %}
    <h2 class="sidebar-red">Current market price</h2>
    <p class="sidebar-price">${{ artist.price }}</p>

    <div class="sub-info">
        <p><span>{{ artist.points }} points</span> per day</p>
        <p><span>${{ artist.dividends }}</span> per day (dividends)</p>
    </div>

    {% if artist.ownedby %}
        <a class="button large" id="sell-button" href="#" data-price="{{ artist.price }}" data-artistname="{{ artist.name }}">Sell</a>
    {% else %}
        <a class="button large" id="buy-button" href="#" data-price="{{ artist.price }}" data-artistname="{{ artist.name }}">Buy</a>
    {% endif %}

{% endblock sidebar %}

{% block body_additional_html %}
    {% include "buy_sell_modal.html" %}
{% endblock body_additional_html %}

{% block body_additional_js %}
    <script type="text/javascript" src="{% static "js/libs/jquery.knob.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/d3.layout.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/rickshaw.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/jquery.foundation.reveal.js" %}"></script>
	<script type="text/javascript">
        // Pass in artist name and mbid here for JS access
        window.SE.Artist = {};
		window.SE.Artist.name = '{{artist.name}}';
        window.SE.Artist.mbid = '{{artist.mbid}}';
	</script>
    <script type="text/javascript" src="{% static "js/artist.js" %}"></script>
{% endblock body_additional_js %}
