{% extends "base.html" %}

{% load static %}

{% block title %}{{artist.name}}{% endblock title %}

{% block main %}
	<h4>{{name}}</h4>
	<div id="chart_container">
		<div id="y_axis"></div>
		<div style="height: 0; overflow: visible;">
		  <div id="barChart"></div>
		</div>

		<div style="overflow: visible;">
		  <div id="lineChart"></div>
		</div>
	</div>
{% endblock main %}

{% block sidebar %}
	<h5>Current market price:</h5>
	<h2>$25,051</h2>
	<a class="button" id="buy-button" href="#">Buy</a>
    <a class="button" id="sell-button" href="#">Sell</a>
	<hr>
{% endblock sidebar %}

{% block body_additional_html %}
    {% include "buy_sell_modal.html" %}
{% endblock body_additional_html %}

{% block body_additional_js %}
    <script type="text/javascript" src="{% static "js/artist.js" %}"></script>
	<script type="text/javascript">
		Artist.name = '{{name}}';
		Artist.drawGraph();
	</script>
{% endblock body_additional_js %}
