{% extends "base.html" %}

{% load static %}
{% load extras %}

{% block title %}{{artist_SE.artist.name}}{% endblock title %}

{% block above_main %}
    <h1 class="main-header">{{artist_SE.artist.name}}</h1>
{% endblock above_main %}

{% block main %}
	<div id="chart_container">
		<div id="y_axis"></div>
		<div style="overflow: visible;">
		  <div id="dividendChart"></div>
		</div>

		<div style="overflow: visible;">
		  <div id="priceChart"></div>
		</div>
	</div>

    <p class="artist-bio">
        {{artist_SE.artist.bio.summary|safe}}
        <!-- TODO: read more link for full bio -->
    <p>

    <h3 class="artist-subheader">Similar Artists</h3>
    {% for similar_artist in artist_SE.artist.similar %}
        <a href="{% url frontend.views.artist similar_artist.name|urlencode %}">
            <div class="artist-img" style="background-image: url('{{ similar_artist.imgurls|get_image:'mega' }}');">
                <div class="text-over-image bottom">
                    <span class="primary">{{ similar_artist.name|truncatechars:15 }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock main %}

{% block sidebar %}
    <h2 class="sidebar-red">Current market price:</h2>
    <p class="sidebar-price">${{ artist_SE.price }}</p>

    {% if artist_SE.ownedby %}
        <a class="button large" id="sell-button" href="#" data-price="{{ artist_SE.price }}" data-artistname="{{ artist_SE.artist.name }}">Sell</a>
    {% else %}
        <a class="button large" id="buy-button" href="#" data-price="{{ artist_SE.price }}" data-artistname="{{ artist_SE.artist.name }}">Buy</a>
    {% endif %}

{% endblock sidebar %}

{% block body_additional_html %}
    {% include "buy_sell_modal.html" %}
{% endblock body_additional_html %}

{% block body_additional_js %}
    <script type="text/javascript" src="{% static "js/libs/jquery.knob.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/d3.layout.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/rickshaw.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/jquery.foundation.reveal.js" %}"></script>
    <script type="text/javascript" src="{% static "js/artist.js" %}"></script>
	<script type="text/javascript">
        // Pass in artist name here
		window.SE.Artist.name = '{{artist_SE.artist.name}}';
		window.SE.Artist.drawGraph();
	</script>
{% endblock body_additional_js %}
