{% load staticfiles %}

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %} - Scrobble Exchange</title>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="{% static "css/app.css" %}">

    <script src="{% static "js/foundation/modernizr.foundation.js" %}"></script>

    {% block header_additional %}{% endblock %}
</head>
<body>

    <header>
        <div class="row">
            <div class="twentyfour columns">
                <nav class="top-bar">
                    <ul>
                        <!-- Title Area -->
                        <li class="name">
                            <a href="{% url frontend.views.home %}">
                                <img id="logo" src="{% static "img/logo.png" %}">
                            </a>
                        </li>
                        <li class="toggle-topbar">
                            <a href="#"></a>
                        </li>
                    </ul>

                    <section>
                        <!-- Left Nav Section -->
                        <ul class="left">
                            <li>
                                <a href="{% url frontend.views.home %}">Portfolio</a>
                            </li>
                            <li>
                                <a href="{% url frontend.views.artists %}">Artists</a>
                            </li>
                            <li>
                                <a href="{% url frontend.views.leaderboards %}">Leaderboards</a>
                            </li>
                        </ul>

                        <!-- Right Nav Section -->
                        <ul class="right">
                            {% if user.is_authenticated %}
                            <li class="divider"></li>
                            <li class="money"><a href="#">${{ user.money }}</a></li>
                            <li class="divider show-for-medium-and-up"></li>
                            <li class="points"><a href="#">{{ user.points }} points</a></li>
                            <li class="divider"></li>
                            <li class="has-dropdown">
                                <a href="{% url frontend.views.home %}">
                                    <div class="user-profile-link">
                                        <img src="{{ user.profileimage.small }}">
                                        {{ user.username }}
                                    </div>
                                </a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#" class="tutorial-link">Tutorial</a>
                                    </li>
                                    <li>
                                        <a href="{% url frontend.views.reset_portfolio %}">Reset</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url lastfmauth_logout %}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url lastfmauth_login %}?next={{current_path}}">Login using your Last.fm account</a>
                            </li>
                            {% endif %}
                        </ul>
                    </section>
                </nav>
            </div>

            <div class="header-promo">
                <p>Welcome to Scrobble Exchange!</p>
            </div>
            <div class="header-search">
                <form class="search-form" action="/search" method="GET">
                    <input name="q" type="text" class="typeahead-search" placeholder="Search for an artist">
                    <input class="lucky-hidden" type="hidden" name="lucky" value="true">
                </form>
            </div>

        </div>

    </header>

    {% block content %}
    <div class="row body-content">
        <div class="twentyfour columns">
            <div class="above_main">
                {% block above_main %}{% endblock %}
            </div>
            <div class="row">
                <div class="seventeen columns main">
                    {% block main %}{% endblock %}
                </div>
                <div class="seven columns sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
            <div class="below_main">
                {% block below_main %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block body_additional_html %}{% endblock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.9.0.min.js" %}"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>

    <!--
    Files concatenated and minified into general-min.js:
    <script type="text/javascript" src="{% static "js/libs/typeahead.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/hogan.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/jquery.foundation.alerts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/jquery.foundation.tooltips.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/jquery.foundation.topbar.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/jquery.foundation.joyride.js" %}"></script>
    <script type="text/javascript" src="{% static "js/general.js" %}"></script> -->

    <script type="text/javascript" src="{% static "js/general-min.js" %}"></script>

    {% block body_additional_js %}{% endblock %}
</body>
</html>
