<div id="buy-sell-modal" class="reveal-modal [expand, xlarge, large, medium, small]">

    <div class="row">
        <div class="seven columns">
            <input type="text" value="15" class="dial" data-min="0" data-max="15" data-readOnly=true data-width="100">    
        </div>

        <div class="seventeen columns">
            <h3>The current price has been locked in temporarily.<h3>
            <h5 class="subheader">You are <span class="label"><span class="buy-sell">buy</span>ing</span> <span class="artist-text"></span> at $<span class="price-text"></span>.<h5>
            <p class="lead">You have <span class="timer-text">15</span> seconds to <span class="buy-sell">buy</span> at this price:</p>
            <p class="price">$<span class="price-text"></span></p>  
            <a class="success button">Confirm</a>
            <a class="secondary small button">Cancel</a> 
            
        </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
</div>
