<div id="buy-sell-modal" class="reveal-modal [expand, xlarge, large, medium, small]">

    <div class="row">
        <div class="seven columns">
            <input type="text" value="15" class="dial" data-min="0" data-max="15" data-readOnly=true data-width="100">    
        </div>

        <div class="seventeen columns">
            <h3>The current price has been locked in temporarily.<h3>
            <h5 class="subheader">You are <span class="label">buying</span> Coldplay for $24,000.<h5>
            <p class="lead">You have 15 seconds to buy at this price:</p>
            <p class="price">$24,000</p>  
            <a class="success button">Confirm</a>
            <a class="secondary small button">Cancel</a> 
            
        </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
</div>
