{% extends "base.html" %}

{% load extras %}

{% block title %}Portfolio{% endblock %}

{% block above_main %}
    <h1 class="main-header">Portfolio</h1>
{% endblock above_main %}

    {% block main %}
        {% for artist_SE in user.stocks %}
            <div class="portfolio-wrapper">
                <a href="{% url frontend.views.artist_single artist_SE.name|urlencode %}">
                    <div class="portfolio-img" style="background-image: url('{{ artist_SE.imgurls|get_image:'mega' }}');">
                        <div class="text-over-image bottom">
                            <span class="primary">{{ artist_SE.name|truncatechars:20 }}</span>
                            <br>
                            <span class="secondary">${{ artist_SE.price }}</span>
                        </div>
                    </div>
                </a>
                <div class="info-below-artist">
                    <p class="artist-points"><span>{{artist_SE.points}} points</span> per day</p>
                    <p class="artist-dividends"><span>${{artist_SE.dividend}}</span> per day</p>
                </div>
            </div>

        {% empty %}

            <p class="lead">You currently have no artists in your portfolio.</p>
                <p>Head to the <a href="{% url frontend.views.artists %}">Artists</a> page and buy some artists! Once you own some artists, you can view their prices, most recent dividends awarded, and the number of points per day that you will receive.</p>

                {% if recommended_artists %}
                    <p>Or browse the recommended artists listed in the sidebar, which are based on your Last.fm scrobbles.</p>
                {% endif %}

        {% endfor %}
    {% endblock main %}

    {% block sidebar %}
        <!--<h2 class="sidebar-red">Current wealth</h2>-->
        <div class="sidebar-price joined">
            <p class="money">$2,000,000{{user.money}}</p>
            <p>in cash</p>
        </div>
        <div class="bonus-wealth">
            <p class="money">$200,000{{user.portfolio_worth}}</p>
            <p>in your portfolio</p>
        </div>

        <div class="bonus-wealth points">
            <p class="money">{{user.points}} 423192</p>
            <p>points</p>
        </div>

        <hr>

        <h2 class="sidebar-red">Your Trophies</h2>
        {% if not user.trophies %}
            <p class="">You currently have no trophies.</p>
        {% endif %}
        <div class="trophies">
            <ul>
                {% for trophy in user.trophies %}
                    {% if forloop.counter > 5 %}
                        <li class="trophy hidden">
                    {% else %}
                        <li class="trophy">
                    {% endif %}
                            <i class="{{ trophy.icon|icon_split:'code' }}" style="color: {{ trophy.icon|icon_split:'colour' }};"></i>
                            <div class="description">
                                <h5 class="title">{{ trophy.name }}</h5>
                                <p>{{ trophy.description }}</p>
                            </div>
                        </li>
                {% endfor %}
            </ul>

            {% if user.trophies.length > 5 %}
                <a class="see-more-trophies" href="#">See all...</a>
            {% endif %}
        </div>

        <hr>

        <h2 class="sidebar-red">Recommended artists</h2>
        <p class="lead">Based on your Last.fm data</p>

        <div class="rank-list">

            <ol class="top-list primary recommended sidebar-list">

                {% for recommended_artist_SE in recommended_artists %}

                    <li class="rankItem sidebar-item">
                        <div class="rankItem-wrap">
                            <div class="rankItem-wrap2">
                                <a href="{% url frontend.views.artist_single recommended_artist_SE.name|urlencode %}" class="rankItem-blockLink">
                                    <h4>
                                        <span class="rankItem-position">{{forloop.counter}}<span class="rm">.</span></span>
                                        <span class="rankItem-title">{{recommended_artist_SE.name|truncatechars:30}}</span>
                                    </h4>
                                    <div class="rankItem-imageCrop rankItem-imageCrop-hidden" style="background-image: url('{{recommended_artist_SE.imgurls|get_image:'mega'}}');">
                                        <div class="rankItem-imageCrop-wrap">
                                            <img src="{{recommended_artist_SE.imgurls|get_image:'mega'}}">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <p class="rankItem-bar">
                                <span class="rankItem-bar-percentage" style="width: 100%">
                                    <span>
                                        <strong>${{ recommended_artist_SE.price }}</strong>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </li>

                {% empty %}

                    <div class="">
                        <p>You currently have no recommended artists.</p>
                    </div>

                {% endfor %}

            </ol>

        </div>
    {% endblock sidebar %}
