{% extends "base.html" %}

{% load extras %}

{% block title %}Home{% endblock %}

    {% block main %}
        <h4>Portfolio</h4>

        {% for artist_SE in user_data.stocks %}
            <a href="/artist/{{ artist_SE.artist.name|urlencode }}">
                <div class="portfolio-img" style="background-image: url('{{ artist_SE.artist.imgurls|get_image:'mega' }}');">
                    <div class="text-over-image bottom">
                        <span class="primary">{{ artist_SE.artist.name|truncatechars:20 }}</span>
                        <br>
                        <span class="secondary">${{ artist_SE.price }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endblock main %}

    {% block sidebar %}
        <h2>${{user_data.user.money}}</h2>
        <p>(+ ${{user_data.portfolio_worth}} in your portfolio)</p>

        <h3>{{user_data.user.points}} points</h3>

        <hr>

        <h2 class="sidebar-red">Your Badges</h2>
        <img class="badge-img" src="http://dummyimage.com/75x75/DAA520/000&amp;text=Gold">
        <img class="badge-img" src="http://dummyimage.com/75x75/C0C0C0/000&amp;text=Silver">
        <img class="badge-img" src="http://dummyimage.com/75x75/800080/fff&amp;text=Purple">
        <img class="badge-img" src="http://dummyimage.com/75x75/eee/000&amp;text=Wow">
        <img class="badge-img" src="http://dummyimage.com/75x75/000/ffffff&amp;text=A*">
    {% endblock sidebar %}
