{% extends "base.html" %}

{% block title %}Home{% endblock %}

    {% block main %}
        <h4>Portfolio</h4>
        <a href="/artist/Coldplay">
            <div class="portfolio-img" style="background-image: url('http:\/\/userserve-ak.last.fm\/serve\/252\/59214147.png');">
                <!--<img class="portfolio-img" src="http://dummyimage.com/180x180/eee/000">
                -->
                <div class="text-over-image bottom">
                    <span class="primary">Name of artist</span>
                    <br>
                    <span class="secondary">$52,124</span>
                </div>
            </div>
        </a>
        <a href="/artist/Coldplay">
            <div class="portfolio-img" style="background-image: url('http:\/\/userserve-ak.last.fm\/serve\/252\/75646980.png');">
                <!--<img class="portfolio-img" src="http://dummyimage.com/180x180/eee/000">
                --><div class="text-over-image">
                    <span class="primary">Name of artist</span>
                    <br>
                    <span class="secondary">$52,124</span>
                </div>
            </div>
        </a>
        <a href="/artist/Coldplay">
            <div class="portfolio-img" style="background-image: url('http:\/\/userserve-ak.last.fm\/serve\/252\/45388159.png');">
                <!--<img class="portfolio-img" src="http://dummyimage.com/180x180/eee/000">
                --><div class="text-over-image">
                    <span class="primary">Name of artist</span>
                    <br>
                    <span class="secondary">$52,124</span>
                </div>
            </div>
        </a>
        <a href="/artist/Coldplay">
            <div class="portfolio-img" style="background-image: url('http:\/\/userserve-ak.last.fm\/serve\/252\/82785611.png');">
                <!--<img class="portfolio-img" src="http://dummyimage.com/180x180/eee/000">
                --><div class="text-over-image">
                    <span class="primary">Name of artist</span>
                    <br>
                    <span class="secondary">$52,124</span>
                </div>
            </div>
        </a>
        <a href="/artist/Coldplay">
            <div class="portfolio-img" style="background-image: url('http:\/\/userserve-ak.last.fm\/serve\/252\/13452679.jpg');">
                <!--<img class="portfolio-img" src="http://dummyimage.com/180x180/eee/000">
                --><div class="text-over-image">
                    <span class="primary">Name of artist</span>
                    <br>
                    <span class="secondary">$52,124</span>
                </div>
            </div>
        </a>
        <a href="/artist/Coldplay">
            <div class="portfolio-img" style="background-image: url('http:\/\/userserve-ak.last.fm\/serve\/252\/486303.jpg');">
                <!--<img class="portfolio-img" src="http://dummyimage.com/180x180/eee/000">
                --><div class="text-over-image">
                    <span class="primary">Name of artist</span>
                    <br>
                    <span class="secondary">$52,124</span>
                </div>
            </div>
        </a>
    {% endblock main %}

    {% block sidebar %}
        <h2>$1,274,421</h2>
        <p>(+ $234,298 in your portfolio)</p>

        <hr>

        <h4>Badges</h4>
        <img class="badge-img" src="http://dummyimage.com/75x75/DAA520/000&amp;text=Gold">
        <img class="badge-img" src="http://dummyimage.com/75x75/C0C0C0/000&amp;text=Silver">
        <img class="badge-img" src="http://dummyimage.com/75x75/800080/fff&amp;text=Purple">
        <img class="badge-img" src="http://dummyimage.com/75x75/eee/000">
        <img class="badge-img" src="http://dummyimage.com/75x75/eee/000">
        <img class="badge-img" src="http://dummyimage.com/75x75/eee/000">
    {% endblock sidebar %}
