// TODO: split this file into per-page files
body {
    background: $bgColour;
    font-family: $bodyFontFamily;

    .body-content {
        background: $contentBgColour;
        border: 1px solid rgb(204, 204, 204);
        padding: 1px 19px 18px;
        margin-top: 8px;
    }

    .above_main {
        .main-header {
            font-size: 20px;
            margin: 20px inherit;
            font-weight: bold;
            width: 50%;
            display: inline-block;
            float: left;
        }

        nav {
            float: right;
            display: inline-block;
            margin: 20px inherit;
            ul {
                list-style-type: none;
                li {
                    display: inline;
                    margin-left: 1em;
                    font-size: 12px;
                }
            }
        }
    }

    .main {
        h1, h2, h3, h4 {
            font-weight: bold;
        }

        #chart {
            height: 300px;
        }

        p.artist-bio {
            margin-top: 20px;
        }

        .artist-subheader {
            color: $mainBarRed;
            font-size: ms(1);
        }

        div.portfolio-img, div.artist-img {
            $portfolio-img-height: 190px;
            background-size: cover;
            background-position: center;
            background-color: #eee;
            border-radius: 2px;
            position: relative;
            width: $portfolio-img-height;
            height: $portfolio-img-height;
            overflow: hidden;
            float: left;

            margin: 0 24px 15px 0px;

            div.text-over-image {
                position: absolute;
                span {
                    color: #fff;
                    padding: 3px 6px;
                    display: inline-block;
                }
                bottom: 0;
                left: 0;
                span {
                    &.primary {
                        background-color: #333;
                    }
                    &.secondary{
                        bottom: 0;
                        left: 0;
                        background-color: #71b7e6;
                    }

                }
            }
        }

        div.artist-img {
            width: 140px;
            height: 140px;
        }

        p.artist-bio {
            clear: right;
            padding-top: 40px;
        }

        div.chart-links {
            float: right;
            padding-top: 37px;
            padding-right: 45px;
            .selected {
                font-weight: bold;
            }
        }

        .search-footer {
            clear: left;
            padding-top: 10px;
            font-size: ms(1);
        }
    }

    .sidebar {
        h2 {

            &.sidebar-red {
                color: $mainBarRed;
                font-weight: bold;
                font-size: 20px;

                &:first-child {
                    margin-bottom: 5px;
                    margin-top: 0;
                }
            }


        }

        p.sidebar-price {
            font-size: ms(4);
            font-weight: bold;
            background-color: #eee;
            padding: 10px;
            text-align: center;
        }

        .sub-info {

            p {
                background-color: #eee;
                min-height: 120px;
                color: #333;

                &:first-child {
                    margin-right: 5%;
                }

                span {
                    font-size: ms(2);
                    display: block;
                }
                float: left;
                width: 47.5%;
                text-align: center;
                font-size: ms(1);
                padding: 10px;
            }

        }

        #buy-button, #sell-button {
            width: 100%;
        }

        #sell-button {
            background-color: $subBarRed;
            border-color: darken($subBarRed, 20%);
        }
    }

    img.badge-img {
        height: 50px;
        width: 50px;
        margin: 0 5px 5px 0;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        box-shadow: 1px 0 5px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, .5);
        -moz-box-shadow: 1px 0 5px rgba(0, 0, 0, .5);
    }

    div.search-elements {
        margin-bottom: 30px !important;

        input {
            height: 50px;
            font-size: ms(1);
        }
    }


    /*
       Begin lists shown on artists page - style taken from Last.fm charts page:
       http://www.last.fm/charts
       TODO: remove redundant attributes, combine to reduce code, extract to seperate scss file
    */

    div.rank-list {
        margin-right: 8px;

        h3, p.lead {
            margin-bottom: 0;
        }

        ol.top-list {
            list-style-type: none;
            margin-left: 0;

            li.rankItem {
                padding-bottom: 10px;
                padding-top: 10px;
                border: 1px solid #ccc;
                border-width: 0 0 1px 0;
                width: 290px;

                &.sidebar-item {
                    width: auto;
                }

                h4 {
                    font-size: 14px;
                    margin: 0;
                    font-weight: bold;
                }

                &:hover {
                    background: #d1e4ef;
                }

                .rm {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                    z-index: -1;
                }

            }

            .rankItem-wrap {
                position: relative;
                margin-left: 52px;
            }

            .rankItem-wrap2 {
                padding-left: 96px;
                min-height: 80px;
                margin-bottom: 2px;
                padding-right: 15px;
            }

            .rankItem-wrap2,
            .rankItem-bar {
                width: 238px;
            }

            .rankItem.sidebar-item {
                .rankItem-wrap2,
                .rankItem-bar {
                    width: auto;
                }
            }

            .rankItem-blockLink:hover,
            .rankItem-blockLink:focus {
                text-decoration: none;
            }

            .rankItem-title {
                display: block;
                word-wrap: break-word;
                color: #000;
                padding-right: 190px;
                padding-right: 0px;
                line-height: 1.142857;
                margin-bottom: 0.071429em;
                top: -0.214286em;
                position: relative;
            }

            .rankItem-position {
                position: absolute;
                left: -52px;
                width: 50px;
                padding: 0 5px;
                text-align: center;
                color: #fff;
                top: 0;
                height: 100%;
                background: #61a7de;
                font-size: 24px;
                line-height: 1.7;
            }

            .rankItem-image,
            .rankItem-imageCrop {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 80px;
                height: 80px;
                background-color: #eee;
            }

            .rankItem-imageCrop {
                overflow: hidden;
                background-size: cover;
                background-position: 50% 0;
            }

            .rankItem-imageCrop-hidden img {
                display: none;
            }

            .rankItem:first-child {

                // We want a large first-child image if we're not in the sidebar
                &:not(.sidebar-item) {
                    .rankItem-image,
                    .rankItem-imageCrop {
                        width: 238px;
                        height: 235px;
                        z-index: -1;
                    }

                    .rankItem-wrap2 {
                        padding-left: 254px;
                        background: url('http://cdn.lst.fm/flatness/black-transparent60.png');
                        min-height: 72px;
                        padding-left: 0;
                        padding-bottom: 3px;
                        float: none;
                        overflow: hidden;
                    }

                    .rankItem-wrap {
                        padding-top: 163px;
                        z-index: 2;
                    }

                    .rankItem-title {
                        color: #fff;
                        display: block;
                        padding: 0.285714em 10px 0 10px;
                        top: 0;
                        margin-bottom: 0.142857em;
                    }
                }

            }

            .rankItem-bar {
                clear: both;
                position: relative;
                padding-left: 10em;
                font-size: 16px;
                margin-bottom: 0;

                .icon {
                    margin: 0 3px -3px 2px;
                }

            }

            .rankItem.sidebar-item .rankItem-bar {
                font-size: ms(0);
            }

            .rankItem-bar-percentage {
                display: block;
                color: #fff;

                span {
                    display: block;
                    margin-left: -10em;
                    padding: 0.2em 5px;
                    background: #61a7de;
                    border-radius: 2px;
                }
            }

            &.primary {
                .rankItem-position,
                .rankItem-bar-percentage span {
                    background: #3ec6ff;
                }
            }

            // Specific styles for the list in the sidebar
            &.sidebar-list {
                .rankItem-wrap {
                    margin-left: 0;
                }

                .rankItem-position {
                    display: none;
                }

                .rankItem-imageCrop,
                .rankItem-imageCrop-hidden {
                    width: 100%;
                    height: 100%;
                    background-position: 50% 35%;
                }

                .rankItem-position,
                .rankItem-bar-percentage span {
                    background: desaturate($mainColor, 90%);
                }

                .rankItem-wrap2 {
                    padding-left: 0;
                    min-height: 72px;
                    padding-bottom: 3px;
                    float: none;
                    overflow: hidden;
                }

                .rankItem-title {
                    color: #fff;
                    display: block;
                    padding: 0.285714em 10px 0 10px;
                    top: 0;
                    margin-bottom: 0.142857em;
                    line-height: 1.5;
                    z-index: 1;
                    margin-top: 3.4em;
                    background: url("http://cdn.lst.fm/flatness/black-transparent60.png");
                }
            }

        }
    }

}
