header {
    
    display: block;
    background: $mainBarRed;
    background-image: $headerSpriteUrl;
    font-weight: bold;
    color: #fff;
    height: 70px;

    .top-bar {
        background-image: $headerSpriteUrl;

        ul.left > li {
            color: #FFF;
            text-shadow: rgb(135, 8, 2) 0px 1px 0px;

            &:not(.name){
                height: 42px;
                top: 1px;

                a {
                    font-size: 14px;
                }


                &:hover, &.active, &:focus {
                    background-image: $headerSpriteUrl;
                    background-position: 0 -260px;
                    background-repeat: repeat-x;
                    a {
                        color: #fff;
                    }
                }
            }
        }

        ul.right > li {

            a {
                color: #eee;
                font-size: 11px;
            }

            &:hover, &.active, &:focus {
                background: transparent;
                a {
                    color: #fff;
                }
            }

        }

        div.header-promo {
            p {
                font-size: 11px;
                line-height: 23px;    
                color: #ddd;
                font-weight: bold;
            }
            clear: left;
            margin-left: 15px;    
            
        }
        
    }
    
}
