header {

    display: block;
    background: $mainBarRed;
    background-image: $headerSpriteUrl;
    font-weight: bold;
    color: #fff;
    height: 70px;

    .top-bar {
        background-image: $headerSpriteUrl;

        ul.left > li {
            color: #FFF;
            text-shadow: rgb(135, 8, 2) 0px 1px 0px;

            &:not(.name){
                height: 42px;
                margin-top: 1px;

                a {
                    font-size: 14px;
                }

                &:hover, &.active, &:focus {
                    background-image: $headerSpriteUrl;
                    background-position: 0 -260px;
                    background-repeat: repeat-x;
                    a {
                        color: #fff;
                    }
                }
            }
        }

        ul.right > li {

            a {
                color: #eee;
                font-size: 11px;
            }

            &:hover, &.active, &:focus {
                background: transparent;
                a {
                    color: #fff;
                }
            }

        }

        div.header-promo,
        div.header-search {
            p {
                font-size: 11px;
                line-height: 23px;
            }
            margin-left: 15px;
        }

        div.header-promo {
            float: left;
            width: 50%;
            p {
                color: #ddd;
                font-weight: bold;
            }
        }

        div.header-search {
            width: 300px;
            float: right;
            margin-right: 15px;
            form.search-form {

                input[type="text"] {
                    height: 23px;
                }
            }

            p {
                color: #222;
            }

            .tt-is-under-cursor p,
            .tt-suggestion:first-child:not(.visited) p {
                color: #fff;
            }

            .tt-dropdown-menu {
                width: 300px;
            }
        }

    }

}
